                        /* fonts */
@font-face {
    font-family: 'devroyeregular';
    src: url('fonts/devroye_-webfont.woff2') format('woff2'),
    url('fonts/devroye_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arizoniaregular';
    src: url('fonts/arizonia-regular-webfont.woff2') format('woff2'),
    url('fonts/arizonia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

                /*Arrière fond BODY*/
body {
    background-image: url("images/greyzz.png");
    font-family: "Times New Roman", Arial, Serif,"sans-serif";
    font-weight: normal;
    font-size: 1rem;
    color: #181818;

}



                        /*titles*/
h1 {
    font-family:  devroyeregular, "Times New Roman", Arial, Serif, "sans-serif";
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 0;
}

h2 {
    font-family: arizoniaregular, "Times New Roman", Arial, Serif, "sans-serif";
    font-weight: normal;
    font-size: 2rem;
    margin-top: 0;
}

h3 {
    font-family: arizoniaregular, "Times New Roman", Arial, Serif, "sans-serif";
    font-size: 1.8rem;
    font-weight: normal;
}

h4 {
    margin-top: 0;
    font-size: 1.2rem;
}

p {
    text-align: justify;
}


                        /*corps de page*/
/*.contenue {
    border: 1px solid black;
    width: 1024px;
    margin: auto;
    text-align: justify;
}
*/
                        /*tete de page*/
header {
    width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: row;
    /*border: 1px solid black;*/
}

.profile {
    width: 350px;
    height: 250px;
    background-color: rgba(176, 233, 234, 0.98);
    /*border: 1px solid black;*/
}

figure {
    text-align: center;
    padding-top: 30px;

}

img {
    border-radius: 50%;
    border: 2px solid black;

}

.title {
    width: 629px;
    /*border: 1px solid black;*/
    padding: 35px 0  0 45px;
}

em {
    color: rgba(176, 233, 234, 0.98);
    font-style: normal;
}

span {
    border-bottom: 1px solid rgba(176, 233, 234, 0.98);
}

                        /*main deux colonnes*/
.milieu-de-pages {
    display: flex;
    flex-direction: row-reverse;
    width: 1024px;
    margin: auto;
}

                        /*colonne gauche*/
.bloc-gauche {
    /*border: 1px solid black;*/
    width: 350px;
    background-color: rgba(176, 233, 234, 0.98);
    display: flex;
    flex-direction: column;
}

.title-de-gauche {
    background-color: black;
    text-align: center;
    padding: 5px;
    color: rgba(176, 233, 234, 0.98);
}

.text-a-propos {
    padding: 0 20px 0 20px;
}

.info-contact li {
    list-style-type: none;
    height: 50px;
}

.info-a-propos {
    flex: 1;
}

.icone {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li .fas {
    font-size: 2rem;
    border: 3px solid black;
    border-radius: 50%;
    margin-left: 30px;
    overflow: hidden;
    padding: 4px;
}


                        /*colonne droite*/
main {
    width: 629px;
    padding-left: 45px;
}

h3 .fas {
    margin-right: 30px;
    color:rgba(176, 233, 234, 0.98) ;
}

.bordure-des-titles {
    border-bottom: 2px solid rgba(176, 233, 234, 0.98);
}
                        /*table*/
td {
    vertical-align: top;
}

.icone-ronde{
    width: 20px;
}

.date {
    width: 150px;
    vertical-align: top;
}

li {
    list-style-type: none;
}

td .far, td .fas{
    color: rgba(176, 233, 234, 0.98);
    font-size:0.7rem;
}

                        /*recommandations*/
address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 0 0;
}
